<div class="container">
  <p class="text-end"><a href="<%= seating_chart_path %>">Seating Chart</a> | <a href="<%= logout_path %>">Logout</a></p>
  <%= render 'guests/table', table_no: params[:table_no] %>
</div>