<!-- Welcome photo -->
<img class="img-fluid" src="/assets/intro-<%= rand(1..4) %>.jpeg" />

<div class="m-4"></div>
<!-- The big day -->
<h2>Saturday, December 2nd</h2>
<h4 class="shimmer"><%= days_to_go %></h4>
<div class="divider m-4"></div>

<%= render 'sites/main/venue' %>
<div class="divider m-4"></div>
<%= render 'sites/main/welcome-party' %>
