<!-- FAQS -->
<div class="divider m-2"></div>
<h3>FAQS</h3>

<h5>Is there parking nearby?</h5>
<p>There is ample street parking available and a parking garage for a fee.</p>

<h5>What time should I arrive?</h5>
<p>Doors open at 2:40pm. The ceremony starts promptly at 3pm.</p>

<h5>Are children allowed at the wedding?</h5>
<p>We respectfully ask that no children under the age of 12 attend the ceremony and reception.</p>

<h5>Need a hotel for the night?</h5>
<p>Discounted rooms are available at the <a href="https://www.loewshotels.com/philadelphia-hotel">Loews Philadelphia Hotel</a>. Book using group code <code>TULINO23</code>.</p>

<h5>Do you have a wedding registry?</h5>
<p>Cash gifts welcome — we’ll use them to make our honeymoon memorable!</p>
<p><a class="btn btn-sm btn-light border" href="https://venmo.com/u/ryan-tulino"><img class="payment" src="/assets/venmo.png"/></a></p>
<p><a class="btn btn-sm btn-light border" href="https://paypal.me/tulino23"><img class="payment" src="/assets/paypal.png"/></a></p>
