<!-- Photo Gallery -->
<div class="container">
  <div class="row py-4">
    <div class="col-8">
      <img src="assets/gallery/DSC_9339.jpg" class="img-fluid rounded poppable my-2" title="Beach day in January!"/>
    </div>
    <div class="col-4">
      <img src="assets/gallery/DSC_9305.jpg" class="img-fluid rounded poppable my-2" title="Beach day in January!"/>
      <img src="assets/gallery/DSC_9311.jpg" class="img-fluid rounded poppable my-2" title="Beach day in January!"/>
    </div>
  </div>

  <div class="row py-4">
    <div class="col"><img src="assets/gallery/DSC_1917.jpeg" class="img-fluid rounded poppable my-2" title="Fun in New Hope"/></div>

    <div class="col">
      <img src="assets/gallery/DSC_001.jpg" class="img-fluid rounded poppable my-2" title="Fun in New Hope"/>
      <img src="assets/gallery/DSC_2103.jpeg" class="img-fluid rounded poppable my-2" title="Fun in New Hope"/>
    </div>
  </div>

  <div class="row py-4">
    <div class="col">
      <img src="assets/gallery/DSC_2044.jpeg" class="img-fluid rounded poppable my-2" title="Fun in New Hope"/>
    </div>
    <div class="col">
      <img src="assets/gallery/DSC_2056.jpeg" class="img-fluid rounded poppable my-2" title="Fun in New Hope"/>
    </div>
  </div>

  <div class="row py-4">
    <div class="col-sm">
      <img src="assets/gallery/DSC_2274.jpg" class="img-fluid rounded poppable my-2" title="Fun in New Hope"/>
    </div>
    <div class="col-sm">
      <img src="assets/gallery/DSC_2180.jpeg" class="img-fluid rounded poppable my-2" title="Fun in New Hope"/>
    </div>
    <div class="col-sm">
      <img src="assets/gallery/DSC_2189.jpeg" class="img-fluid rounded poppable my-2" title="Fun in New Hope"/>
    </div>
  </div>

  <div class="row py-4">
    <div class="col">
      <img src="assets/gallery/DSC_2131.jpeg" class="img-fluid rounded poppable my-2" title="Fun in New Hope"/>
      <img src="assets/gallery/DSC_2344.jpg" class="img-fluid rounded poppable my-2" title="Fun in New Hope"/>
    </div>
    <div class="col"><img src="assets/gallery/DSC_2364.jpg" class="img-fluid rounded poppable my-2" title="Fun in New Hope"/></div>
  </div>

  <div class="row py-4">
    <div class="col-4">
      <img src="assets/gallery/Angela_N_Ryan_Edit-9718.jpg" class="img-fluid rounded poppable my-2" title="Beach day in January!"/>
      <img src="assets/gallery/DSC_9378.jpg" class="img-fluid rounded poppable my-2" title="Beach day in January!"/>
    </div>
    <div class="col-8"><img src="assets/gallery/Image 2-11-23 at 6.22 PM.jpg" class="img-fluid rounded poppable my-2" title="Ryan's birthday camping trip in the Adirondack Mountains"/></div>
  </div>

  <div class="row py-4">
    <div class="col-sm"><img src="assets/gallery/Image 2-11-23 at 6.23 PM.jpg" class="img-fluid rounded poppable my-2" title="Dinner with friends!"/></div>
    <div class="col-sm"><img src="assets/gallery/Image 2-11-23 at 6.25 PM.jpg" class="img-fluid rounded poppable my-2" title="The proposal ðŸ’"/></div>
    <div class="col-sm"><img src="assets/gallery/Image 2-11-23 at 6.25 PM (1).jpg" class="img-fluid rounded poppable my-2" title="Moments after the proposal ðŸ’"/></div>
  </div>

  <div class="row py-4">
    <div class="col-4">
      <img src="assets/gallery/Image 2-11-23 at 6.47 PM.jpg" class="img-fluid rounded poppable my-2" title="Angela's MBA Graduation"/>
      <img src="assets/gallery/Image 2-11-23 at 6.48 PM.jpg" class="img-fluid rounded poppable my-2" title="Ryan's birthday camping trip in the Adirondack Mountains"/>
    </div>
    <div class="col-8"><img src="assets/gallery/Image 2-11-23 at 6.48 PM (1).jpg" class="img-fluid rounded poppable my-2" title="Zooming around Cabo San Lucas"/></div>
  </div>

  <div class="row py-4">
    <div class="col-6 col-md-4"><img src="assets/gallery/Image 2-11-23 at 7.16 PM.jpg" class="img-fluid rounded poppable my-2" title="Playing on the beach with Bella"/></div>
    <div class="col-6 col-md-4"><img src="assets/gallery/Image 2-11-23 at 7.17 PM.jpg" class="img-fluid rounded poppable my-2" title="Playing on the beach with Bella"/></div>
    <div class="col-6 col-md-4"><img src="assets/gallery/IMG_5401.jpg" class="img-fluid rounded poppable my-2" title="Hiking the waterfalls at Ricketts Glen"/></div>
  </div>

  <div class="row py-4">
    <div class="col-6"><img src="assets/gallery/IMG_5485.jpg" class="img-fluid rounded poppable my-2" title="Christmas beer garden"/></div>
    <div class="col-6"><img src="assets/gallery/IMG_5551.jpg" class="img-fluid rounded poppable my-2" title="Our first Christmas!"/></div>
  </div>

  <div class="row py-4">
    <div class="col-sm">
      <img src="assets/gallery/IMG_7354.jpg" class="img-fluid rounded poppable my-2" title="Ryan's birthday camping trip in the Adirondack Mountains"/>
    </div>
    <div class="col-sm">
      <img src="assets/gallery/DSC_9426.jpg" class="img-fluid rounded poppable my-2" title="Beach day in January!"/>
    </div>
    <div class="col-sm">
      <img src="assets/gallery/PXL_20211216_000918401.jpeg" class="img-fluid rounded poppable my-2" title="Winterfest on the delaware river waterfront"/>
    </div>
  </div>

  <div class="row py-4">
    <div class="col-4">
      <img src="assets/gallery/PXL_20220101_045706394.jpeg" class="img-fluid rounded poppable my-2" title="Our first new years!"/>
      <img src="assets/gallery/PXL_20220116_182645695.jpeg" class="img-fluid rounded poppable my-2" title="Villanova Basketball #NOVANATION"/>
    </div>
    <div class="col-8"><img src="assets/gallery/PXL_20220818_231044436.jpeg" class="img-fluid rounded poppable my-2" title="Summer concerts in camden (Santana)"/></div>
  </div>

  <div class="row py-4">
    <div class="col-sm"><img src="assets/gallery/PXL_20220910_182745969.jpeg" class="img-fluid rounded poppable my-2" title="Our second visit to Pepperfest! (Our annual tradition)"/></div>
    <div class="col-sm"><img src="assets/gallery/PXL_20220929_171519885.jpeg" class="img-fluid rounded poppable my-2" title="Ryan's birthday camping trip in the Adirondack Mountains"/></div>
  </div>

  <div class="row py-4">
    <div class="col-4">
      <img src="assets/gallery/Image 2-11-23 at 6.20 PM.jpg" class="img-fluid rounded poppable my-2" title="Phillies games"/>
      <img src="assets/gallery/Image 2-11-23 at 6.21 PM.jpg" class="img-fluid rounded poppable my-2" title="Tulip festival"/>
    </div>
    <div class="col-8">
      <img src="assets/gallery/PXL_20220416_224135464.jpeg" class="img-fluid rounded poppable my-2" title="Addison street â¤ï¸"/>
    </div>
  </div>

  <div class="row py-4">
    <div class="col">
      <img src="assets/gallery/PXL_20230207_001319029.jpeg" class="img-fluid rounded poppable my-2" title="Flyers game"/>
      <img src="assets/gallery/PXL_20221030_002306057.jpeg" class="img-fluid rounded poppable my-2" title="Halloween cheesin"/>
    </div>
    <div class="col">
      <img src="assets/gallery/PXL_20221015_174204844.jpeg" class="img-fluid rounded poppable my-2" title="Gondala ride in Las Vegas"/>
      <img src="assets/gallery/PXL_20221217_164116828.jpeg" class="img-fluid rounded poppable my-2" title="Publix â¤ï¸"/>
    </div>
  </div>

  <div class="row py-4">
    <div class="col-sm"><img src="assets/gallery/PXL_20230212_235623405.jpeg" class="img-fluid rounded poppable my-2" title=""/></div>
    <div class="col-sm"><img src="assets/gallery/PXL_20230330_232352287.jpeg" class="img-fluid rounded poppable my-2" title=""/></div>
    <div class="col-sm"><img src="assets/gallery/PXL_20230409_214051080.jpeg" class="img-fluid rounded poppable my-2" title=""/></div>
  </div>

  <div class="row py-4">
    <div class="col-4">
      <img src="assets/gallery/PXL_20230413_145158630.jpeg" class="img-fluid rounded poppable my-2" title=""/>
      <img src="assets/gallery/PXL_20230414_185451246.jpeg" class="img-fluid rounded poppable my-2" title=""/>
    </div>
    <div class="col-8"><img src="assets/gallery/PXL_20230415_173705549.jpeg" class="img-fluid rounded poppable my-2" title=""/></div>
  </div>

  <div class="row py-4">
    <div class="col-6 col-md-4"><img src="assets/gallery/PXL_20230415_191715835.jpeg" class="img-fluid rounded poppable my-2" title=""/></div>
    <div class="col-6 col-md-4"><img src="assets/gallery/PXL_20230517_233129259.jpeg" class="img-fluid rounded poppable my-2" title=""/></div>
    <div class="col-6 col-md-4"><img src="assets/gallery/PXL_20230518_182630691.jpeg" class="img-fluid rounded poppable my-2" title=""/></div>
  </div>

  <div class="row py-4">
    <div class="col-6"><img src="assets/gallery/PXL_20230518_215349146.jpeg" class="img-fluid rounded poppable my-2" title=""/></div>
    <div class="col-6"><img src="assets/gallery/PXL_20230520_034533145.jpeg" class="img-fluid rounded poppable my-2" title=""/></div>
  </div>

  <div class="row py-4">
    <div class="col-sm">
      <img src="assets/gallery/PXL_20230520_164234158.jpeg" class="img-fluid rounded poppable my-2" title=""/>
    </div>
    <div class="col-sm">
      <img src="assets/gallery/PXL_20230521_032812628.jpeg" class="img-fluid rounded poppable my-2" title=""/>
    </div>
    <div class="col-sm">
      <img src="assets/gallery/PXL_20230602_180714230.jpeg" class="img-fluid rounded poppable my-2" title=""/>
    </div>
  </div>

  <div class="row py-4">
    <div class="col-4">
      <img src="assets/gallery/PXL_20230613_122158847.jpeg" class="img-fluid rounded poppable my-2" title=""/>
      <img src="assets/gallery/PXL_20230613_220608559.jpeg" class="img-fluid rounded poppable my-2" title=""/>
    </div>
    <div class="col-8"><img src="assets/gallery/PXL_20230613_221150816.MP.jpg" class="img-fluid rounded poppable my-2" title=""/></div>
  </div>

  <div class="row py-4">
    <div class="col-sm"><img src="assets/gallery/PXL_20230614_181006736.MP.jpg" class="img-fluid rounded poppable my-2" title=""/></div>
    <div class="col-sm"><img src="assets/gallery/PXL_20230615_035422009.jpeg" class="img-fluid rounded poppable my-2" title=""/></div>
  </div>

  <div class="row py-4">
    <div class="col-6">
      <img src="assets/gallery/PXL_20230617_015619108.jpeg" class="img-fluid rounded poppable my-2" title=""/>
      <img src="assets/gallery/PXL_20230617_193211208.MP.jpg" class="img-fluid rounded poppable my-2" title=""/>
    </div>
    <div class="col-6">
      <img src="assets/gallery/PXL_20230708_225133115.jpeg" class="img-fluid rounded poppable my-2" title="ï¸"/>
      <img src="assets/gallery/IMG_2346.jpeg" class="img-fluid rounded poppable my-2" title="ï¸"/>
    </div>
  </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide carousel-dark" data-bs-ride="carousel">
          <div class="carousel-inner"></div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(function() {
        $('.poppable').on('click', function() {
            var selected = $(this);
            console.log(selected);
            $('.carousel-inner').empty();
            $('.poppable').each(function(index){
                var active = selected.attr('src') == $(this).attr('src');
                $('.carousel-inner').append(`
                <div class="carousel-item ${active ? 'active' : ''}">
                    <img src="${$(this).attr('src')}" class="img-fluid imagepreview" />
                    <p class="pt-2">${$(this).attr('title')}</p>
                </div>
                `);
            });

            $('#imagemodal').modal('show');
        });
    });
</script>