<!-- Welcome photo -->
<img class="img-fluid" src="/assets/DSC_9398.jpeg" />

<div class="m-4"></div>
<!-- The big day -->
<h2>Saturday, December 2nd</h2>
<h4 class="shimmer"><%= days_to_go %></h4>
<div class="divider m-4"></div>

<!-- Our story! -->
<h3>OUR STORY</h3>
<p style="white-space: pre-wrap;">It all started in the summer of 2021 when Ryan asked Angela out on their first date to his favorite roast beef spot in town. It was a Monday night so the date was expected to be a short one but as Nicks was closing down, neither wanted the date to end. So they walked around the neighborhood until they found a bar that was open and shot some pool. After closing that place down as well, they parted ways but soon after were inseparable, spending all their free time together.

  They enjoyed camping, cooking, concerts, eating out, traveling, spending time with family/friends and taking Bella on long walks. They moved in together spring of 2022 and 8 months later he proposed!</p>

<div class="divider m-4"></div>

<h3>TIDBITS</h3>

<h4>What was your first impression?</h4>
<p style="white-space: pre-wrap;">Ryan: "She’s really cute! I'll have to get creative to win her over."
  Angela: "I thought he was attractive but also very high energy... like a little much ha. I wasn't sure I could keep up at first but it ended up being a perfect fit."</p>

<h4>What was your most memorable date?</h4>
<p>Both: "Walking to our local diner on Sunday mornings for brunch. Angela loves drenching her corned beef hash with Ryan's homemade hot sauce!"</p>

<h4>What is your favorite trip together?</h4>
<p style="white-space: pre-wrap;">Angela: "Our trip to Mexico! It was such a fun trip with friends and I loved experiencing Ryan's first international trip together."
  Ryan: "I love all of our camping trips although her idea of camping is different than mine. I like camp fires and good food. She likes hiking and dehydrated food out of a bag."</p>

<h4>What is your favorite activity together?</h4>
<p style="white-space: pre-wrap;">Angela: "Traveling!"
  Ryan: "A quiet night in."</p>

<h4>How did Ryan propose?</h4>
<p>We were watching a band play at our favorite music venue. Once the band was done playing, he asked to get a picture on stage with him. I thought it was a silly idea and said no even though he was being very persistent. As we were leaving, Ryan wanted to check out their larger stage downstairs. I really didn’t want to go but I agreed to make it a very quick stop. He once again asked if I wanted a picture on the stage. I felt bad saying no again so we made our way to the stage. I’m sure you can guess the rest... While taking pictures, he got down on one knee and proposed! What's so special is we’ll be getting married on that very same stage exactly one year from then!</p>
