<!-- FAQS -->

<p>Cash gifts welcome — we’ll use them to make our honeymoon memorable!</p>
<div class="divider m-2"></div>
<p><a class="btn btn-sm btn-light border" href="https://venmo.com/u/ryan-tulino"><img class="payment" src="/assets/venmo.png"/></a></p>
<p><a class="btn btn-sm btn-light border" href="https://paypal.me/tulino23"><img class="payment" src="/assets/paypal.png"/></a></p>
