<!-- Registry -->
<div class="divider"></div>

<p>
  We’ve registered on Amazon & Zola for everything we need to start our married life together!
  You can find our registry online at <a target="_blank" href="https://www.zola.com/registry/aqrt">https://www.zola.com/registry/aqrt</a>
</p>