<!-- Venue details -->
<img class="img-fluid mb-4" src="/assets/WCL.jpeg" />

<h2>
  <i class="bi bi-globe-americas"></i> World Cafe Live <i class="bi bi-music-note-beamed"></i>
</h2>

<address>
  <a href="https://goo.gl/maps/PuU4d5M4VLqQwxm28" target="_blank">3025 Walnut Street</a>
</address>

<h3>Saturday, December 2nd</h3>
<p class="text-danger">Time to be announced.</p>

<p>The ceremony, cocktail hour, and reception will take place indoors at World Cafe Live.</p>

<p>There is metered street parking available or a nearby <a href="https://goo.gl/maps/wRj29GpKFUR8VV2Z6" target="_blank">parking lot</a> and <a href="https://goo.gl/maps/hh4quEcbJxFXgXTr6" target="_blank">covered garage</a> for a fee.</p>
