<div class="row">
  <div class="col-lg-5 d-flex align-items-center">
    <img class="w-100 mb-4" src="/assets/moriartys.png" />
  </div>
  <div class="col-12 col-lg-7 pt-4">
    <h2 class="fs-1 text-decoration-underline">Welcome Party!</h2>

    <div class="ticket">
      <h3>
        Moriarty's Pub
      </h3>

      <address>
        <a href="https://goo.gl/maps/vVfmYiDuYmDJjxfB9" target="_blank">1116 Walnut Street</a>
      </address>

      <h4>Friday, December 1st</h4>

      <h4>7:00 pm - 10:00 pm</h4>
    </div>

    <p>Attire: Your party clothes!</p>

    <p>Join us the night before the wedding as we kick off the weekend with some drinks (cash bar) and small bites!</p>

    <p>Just a 6 minute walk from the <a href="https://goo.gl/maps/dWuCC8f8akRWu5Cm9" target="_blank">Loews Hotel</a>.</p>
  </div>
</div>
