/* Global styles */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

img.payment { height: 2rem; }
.alert { margin: 1em }
.fade-in { animation: fadeIn 1s; }


.btn-light {
    --bs-btn-bg: #f1f1f1;
}

/* Styles for main site */
body.site-main {
    font-family: 'Playfair Display', serif;
}
body.site-main h1,
body.site-main h2,
body.site-main h3,
body.site-main h4,
body.site-main h5,
body.site-main .btn
{
    font-family: 'Abril Fatface', serif;
}

body.site-main h1 {
    font-size: 4.5rem;
}

body.site-main .welcome-container {
    height: 500px;
    position: relative;
}

body.site-main .welcome-container .welcome-banner {
    background-image: url(/assets/welcome-banner.jpeg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Styles for admin site */

.nav-pills {
    --bs-nav-pills-link-active-bg: #f44336;
}

.nav {
    --bs-nav-link-color: #f83074;
    --bs-nav-link-hover-color: #cb1a56;
}

body.site-admin {
    color: #222;
    background: #f8f9fa;
}