/* Global styles */
.alert { margin: 1em }

/* Styles for main site */

body.site-main {
    background-image:    url(/assets/love-park.jpeg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overscroll-behavior: none;
}

/* Styles for admin site */

.nav-pills {
    --bs-nav-pills-link-active-bg: #f44336;
}

.nav {
    --bs-nav-link-color: #f83074;
    --bs-nav-link-hover-color: #cb1a56;
}

body.site-admin {
    color: #222;
    background: #f8f9fa;
}