/* Styles for login page */

body.login {
    background-image:    url(/assets/love-park.jpeg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overscroll-behavior: none;
}

body.login .form-container {
    padding-top: 10%;
    text-align:center;
}

body.login .form-container .form {
    width: 60%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
    padding: 3em 1em;
    border-radius: 1em;
}

body.login .form-container .form .btn{
    width: 100%;
}

body.login .form-container .form h1{
    font-family: 'Water Brush', serif;
    font-size: calc(1.3rem + 1.5vw);
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url(/assets/celebrate-text.jpeg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

body.login .form-container .form p.required{
    text-align: initial;
    color: red;
}
